# Arquivos gerados automaticamente
__pycache__/
*.pyc

# Ambientes virtuais
venv/
env/
*.env

# Arquivos de registro
*.log

# Arquivos de compilação Python
*.pyo
*.pyd

# Diretório de distribuição
dist/
build/

# Arquivos de configuração de IDE
.vscode/
.idea/

# Cache de testes
.pytest_cache/

# Dependências geradas pelo pip
/.venv/
pip-wheel-metadata/

# Ignore arquivos de configuração local
*.cfg

# Ignore files from the Measurements folder
Measurements/
